.full-height {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#primer-texto {
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    word-spacing: 10px;
    margin-right: 70px;
    margin-bottom: 0;
}

#segundo-texto {
    font-size: 108px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    word-spacing: 10px;
    margin-bottom: 30px;
    margin-top: 0;
    margin-right: 50px;
}