.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 40px;
    margin-top: 80px;
}

.proyecto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    padding: 20px;
    transition: transform 0.45s ease;
}

.proyecto:hover {
    transform: scale(1.15);
}

.proyecto img {
    max-width: 100%;
    border-radius: 8px;
}

.proyecto p {
    color: #555;
    margin-top: 15px;
}