footer {
    background-color: #e9e9e9;
    width: 100%;
}

#superior-footer {
    height: 84px;
    display: flex;
    align-items: center;
}

#inferior-footer {
    margin: 0;
}

#condiciones {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 16px;
}

#ficticio {
    text-align: right;
    margin: 0 10px 0 0;
    font-size: 14px;
}